<nav class="navbar navbar-expand-lg  navbar-expand fixed-top">
  <a class="navbar-brand text-white" href="{% url 'home' %}">ANONYMOUS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" disabled>{{ user.username| upper }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact Us</a></a>
      </li>
      
      {% endif %}
  
    </ul>
  </div>
</nav><!-- .nav-menu -->
