{% extends 'base.html' %}
{% load static %}
{% block content %}<br>
<div class="container-fluid">
    <div class="section-title">
        <h2>Profile Page</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        <ul class="list-group">
            <li class="list-group-item">Username: {{ user.username }}</li>
            <li class="list-group-item">First Name:{{ user.first_name }}</li>
            <li class="list-group-item">Last: {{ user.last_name }}</li>
            <li class="list-group-item">E-mail: {{ user.email }}</li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-1">Token:</div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{user.auth_token}}" id="token" >
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input type="button" class="btn btn-secondary" onclick="Copy(), change();" value="Copy" id="copy">
                        <!-- <button class="btn" onclick="Copy(), change()" id='copy' value='copy'> -->
                        </button>
                </div>
            </li>
        </ul>
        <script>
            var copy_text_val = document.querySelector('#token');

            function Copy() {
            copy_text_val.select();
            document.execCommand("copy");

            } 

            function change(){
            document.getElementById("copy").value="Copied"; 
        }
            </script>
    </div><br>
    <div class="container text-center"><h4><a href="{%url 'edit_profile' %}">Edit Profile</a></h4>
    </div>
    <hr><br>
    
</div><br>
    
{% endblock %}